@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* CSS Document */

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
	line-height: 120%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS RESET*/

html {font-family: 'Open Sans', sans-serif;}
body {font-size: 9pt;color: #333;}

section {min-height: 1000px; page-break-after: always;}

strong {font-weight: bold;}

h1, h2, h3, h4 {clear: both; margin: 0px 0px 5px 0px; padding: 5px 0px; font-weight: 100; font-size: 16pt; line-height: 130%;}
h1 {font-size: 20pt;padding: 5px 0px;font-weight: 400;margin: 20px 0px 10px 0px;color: rgba(1, 106, 171, 1);/* background:rgba(1, 106, 171, 1); */border-bottom: 2px solid #52b44f;}
h2 {font-size: 16pt;padding: 5px 0px 0px 0px;font-weight: 100;margin: 0px 0px 10px 0px;color: #666;border-bottom: 1px solid #52b44f;/* background:rgba(1, 106, 171, 0.80); */}
h3 {font-size: 14pt;padding: 5px 0px;font-weight: 100;color: #888;border-bottom: 1px solid #52b44f;/* background:rgba(1, 106, 171, 0.60); */}
h4 {font-size: 12pt;padding: 5px 0px;font-weight: 100;color: #333333;font-style: italic;/* background:rgba(1, 106, 171, 0.40); */}

.container {
    width: 850px;
    padding: 5%;
    border: 1px solid #000;
}

.fieldset > ul{list-style: none;     margin: 0px;     padding: 0px;}

.fieldset li{padding: 4px;border: 1px solid #ccc;border-radius: 5px;margin: 5px 0px;position: relative;}

.fieldset li span {/*border-bottom: 1px solid #000; display: inline-block;*/}

.fieldset  > ul > li {
    display: block;
    width: 32.33%;
    float: left;
    margin: 5px 0px;
    /* border: 1px solid #cccccc; */
    margin-right: 1%;
    padding: 4px;
}

.fieldset.col2  > ul > li {
    display: block;
    width: 49%;
    float: left;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 1%;
    padding: 4px;
}

.fieldset.child-col2 > ul > li > ul > li {
    display: block;
    width: 49%;
    float: left;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 1%;
    padding: 4px;
}


.fieldset  > ul > li > ul > li {
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	position: relative;
	}


.fieldset  > ul > li > ul > li > ul > li  {
	margin-left: 0px;
	display: block;
	position: relative;
	}
  .fieldset.full > ul > li, .fieldset  > ul .col-sm-6 > li {
    display: block;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 0px;
    float: none;
    padding: 4px;
    /* background: rgba(200,200,200,0.1); */
    }

  .gifts > ul > li { display: block;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #cccccc;
	  margin-right: 0px;
	  float: none;
    padding: 4px;}

  .gifts > ul > li > ul > li{ display: block;
    width: 32.33%;
    float: left;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 1%;
    padding: 4px;}

  .gifts-v2 > ul > li {
    display: block;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 0px;
    float: left;
    padding: 4px;
    }

  .gifts-v2 > ul > li > ul > li{ display: block;
    width: 100%;
    float: left;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 0;
    padding: 4px;
}

  .gifts-v3 > ul > li {
    display: block;
    width: 100%;
    margin: 5px 0px;
    /* border: 1px solid #cccccc; */
    margin-right: 0;
    float: none;

    padding: 4px;
    }

 .gifts-v3 > ul > li > ul > li{
    display: block;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 0px;
    float: left;
    padding: 4px;
    }

.gifts-v2  > ul .col-sm-6 > li, .gifts-v3  > ul .col-sm-6 > li, .fieldset.child-col2 > ul > li > ul > li {/* border: none; */}

.gifts-v3 > ul > li > ul > li:nth-child(3) {clear: both;}

  .gifts-v3 > ul > li > ul > li > ul > li{ display: block;
    width: 100%;
    float: left;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    margin-right: 0;
    padding: 4px;
}




.hoz >li {
    display: block;
    width: 31.33%;
    float: left;
    margin: 5px 0px;
    /* border: 1px solid #cccccc; */
    margin-right: 1%;
    padding: 4px;
}

section {padding: 0px;/*border: 1px solid #cccccc;*/ border-radius: 5px; margin: 10px 0px 0px 0px;}


.child , .grandchild > ul > li{padding: 10px;border: 1px solid #cccccc;border-radius: 5px;margin: 10px 1% 0px 0px;/* background: rgba(200,200,200,0.1); */}

section, .child {clear: both;margin-top: 5px;position: relative;}

.title > strong:nth-child(1)  {font-size: 102%;/* display: block; */border-bottom: 1px solid #333;}

.title.gift > strong:nth-child(1)  {display: block;font-size: 112% !important;font-weight: 400;padding: 5px 0px;/* font-weight: 100; */color: #888;/* background:rgba(1, 106, 171, 0.60); */}

/*.title.gift  ul > li {display: table-row; }
.title.gift  ul > li strong, .title.gift  ul > li span {display: table-cell; }*/

.table ul > li {display: block !important;border: 1px solid #ccc;margin-bottom: 5px;border-radius: 5px;}
.table ul > li strong, .table ul > li > ul > li strong{/* min-width: 55px; */display: table-cell;white-space: nowrap;padding-right: 5px;}
.table ul > li span, .table ul > li > ul >li span {display: table-cell;width: 100%;padding-left: 5px;/* border-bottom: 1px solid #999; */vertical-align: bottom;}
.table ul > li.parent {display: block;}

.table ul > li.hidden {display: none !important;}

.gifts-v2 .title > strong:nth-child(1) {/* border:none; *//* font-size: 105%; */}

.gift {/* background: rgba(200,200,200,0.2); */}

ul.toc li {display: block; font-size: 18pt; line-height: 130%; margin: 20px;}

.front-page h1{
    font-size: 30pt;
    border: none;
    margin: 275px 50px 0px 50px;
}
.front-page h2{
    font-size: 22pt;
    border: none;
    margin: 0px 50px 20px 50px;
}
.front-page {min-height: 800px;}

.front-page .author {font-size: 14pt; margin: 20px 50px; font-weight: 100;}

footer {position: fixed; bottom: -1px; left: 0px; width: 100%; height: 45px; background:#ffffff; z-index: 100; }
footer .logo {height: 40px; width: auto !important; position:absolute; right: 15px; top:0px;}
footer .container {padding: 0px; position: relative; border:none;}
footer .date {padding: 10px;position: absolute;left: 0px;top: 10px;}

header {position: fixed; top: 0px; left: 0px; width: 100%; height: 50px; background:#ffffff; z-index: 100; display: none;}
header .container {padding: 0px; position: relative; border: none;}
header .author {padding: 20px; position: absolute; right: 0px;}

.outstanding {color: #ff0000;}

.note {display: inline-block; color:red; border: 1px solid #FF0004; padding: 3px; position: absolute; right: 0px; top:0px; border-radius: 5px; background:#fff; }

.showcomments, .showcomments:active, .showcomments:visited, .showcomments:focus {position: absolute;     left: 350px;
    top: 16px;
    background: #666;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
text-decoration: none;}

.showcomments:hover {color:#FFD600; text-decoration: none;}
