@charset "utf-8";
/* CSS For Print */

@import 'style.css';

.container {
    padding: 0px;
    border: none;
}
 @page {
    margin-top: 1cm;
    margin-bottom: 0.5cm;
 }

h1 {margin-top: 50px; color: rgba(1, 106, 171, 1) !important; -webkit-print-color-adjust: exact;     border-bottom: 2px solid #52b44f;}
h2 {color: #666 !important; -webkit-print-color-adjust: exact;}
h3 {color: #888 !important; -webkit-print-color-adjust: exact; }
h4 {color: #333333 !important; -webkit-print-color-adjust: exact;}

header {top: 0px;  background-color: #ffffff !important;
        -webkit-print-color-adjust: exact;}
header .author {padding: 0px;}

footer {bottom: -1px; background-color: #ffffff !important;
        -webkit-print-color-adjust: exact;}

.outstanding {color: red !important; -webkit-print-color-adjust: exact;}

.showcomments {display: none;}

.note { color:red !important;   -webkit-print-color-adjust: exact; background:#fff;  }

.hidden {display:none !important;}

*{-webkit-print-color-adjust: exact; }

